<h1 class="text-black">Registro de Clientes</h1>
<div class="row">
  <div class="col-md-6 mt-2">
    <label for="nombre" class="form-label">Nombre</label>
    {{ formCliente.nombre }}
  </div>
  <div class="col-md-6 mt-2">
    <label for="apellido" class="form-label">Apellido</label>
    {{ formCliente.apellido }}
  </div>
</div>
<div class="col-12 mt-2">
  <label for="correoElectronico" class="form-label">Email</label>
  {{ formCliente.correoelectronico }}
</div>
<div class="col-12 mt-2">
  <label for="telefono" class="form-label">Teléfono</label>
  {{ formCliente.telefono }}
</div>
<div class="col-12 mt-2">
  <label for="direccion" class="form-label">Dirección</label>
  {{ formCliente.direccion }}
</div>
<div class="col-12 mt-2">
  <label for="contraseña" class="form-label">Contraseña</label>
  {{ formUsuario.password }}
</div>
