asgiref==3.7.2
astroid==3.1.0
beautifulsoup4==4.12.3
Brotli==1.1.0
certifi==2024.7.4
charset-normalizer==3.3.2
colorama==0.4.6
dill==0.3.8
distlib==0.3.8
dj-database-url==2.1.0
Django==5.0.9
django-auto-logout==0.5.1
django-livereload==1.7
filelock==3.13.1
gunicorn==21.2.0
idna==3.6
isort==5.13.2
mccabe==0.7.0
packaging==24.0
platformdirs==4.2.0
psycopg2-binary==2.9.9
pylint==3.1.0
pylint-django==2.5.5
pylint-plugin-utils==0.8.2
python-dotenv==1.0.1
requests==2.31.0
soupsieve==2.5
sqlparse==0.4.4
stripe==8.9.0
tomlkit==0.12.4
typing_extensions==4.10.0
tzdata==2024.1
urllib3==2.2.1
whitenoise==6.6.0
