{% extends 'bases/baseadmin.html' %}

{% block title %}
  {% if form.instance %}
    Editar Vehiculo
  {% else %}
    Nuevo Vehiculo
  {% endif %}
{% endblock %}

{% block content %}
  {{ block.super }}
  <div class="container-sm col-md-8 my-5 bg-info-subtle rounded">
    <h1 class="text-black">
      {% if form.instance.id %}
        Editar Vehiculo (ID: {{ form.instance.vehiculoid }})
      {% else %}
        Registro de Vehiculos
      {% endif %}
    </h1>
    <form class="row g-3" method="POST">
      {% csrf_token %}
      {% if form.instance.id %}
        <input type="hidden" name="id" value="{{ form.instance.id }}" />
      {% endif %}
      <div class="col-md-6">
        <label for="marca" class="form-label">Marca del vehiculo</label>
        {{ form.marca }}
      </div>
      <div class="col-md-6">
        <label for="modelo" class="form-label">Modelo del vehiculo</label>
        {{ form.modelo }}
      </div>
      <div class="col-md-3">
        <label for="añoFabricacion" class="form-label">Año fabricación</label>
        {{ form.anofabricacion }}
      </div>
      <div class="col-md-3">
        <label for="capacidad" class="form-label">Capacidad</label>
        {{ form.capacidad }}
      </div>
      <div class="col-md-3">
        <label for="placa" class="form-label">Placa</label>
        {{ form.placa }}
      </div>
      <div class="col-md-3">
        <label for="estado" class="form-label">Estado</label>
        {{ form.estado }}
      </div>
      <div class="col-md-6">
        <label for="conductores" class="form-label">Conductores</label>
        {{ form.conductorid }}
      </div>
      <div class="col-12 my-4">
        <button type="submit" class="btn btn-primary me-2">
          {% if form.instance %}
            Guardar Cambios
          {% else %}
            Registrar
          {% endif %}
        </button>
        <a href="{% url 'ver_vehiculos' %}" class="btn btn-secondary">Cancelar</a>
      </div>
    </form>
  </div>

  {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'error' %}
        <script>
          Swal.fire('Error', '{{ message }}', 'error')
        </script>
      {% elif message.tags == 'success' %}
        <script>
          Swal.fire('Éxito', '{{ message }}', 'success')
        </script>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endblock %}
