{% extends 'bases/baseconductor.html' %}

{% block title %}
  Próximos viajes
{% endblock %}

{% block content %}
  {{ block.super }}
  {% if viajes %}
  <div class="container bg-transparent text-white my-5 p-4">
    <h2>Viajes por Hacer</h2>
    <p>Listado de viajes asignados</p>
  </div>
    <div class="container my-5 rounded">
      <div id="accordion">
        {% for viaje in viajes %}
          <div class="card my-4 text-white">
            <div class="card-header bg-white text-black d-flex justify-content-between align-items-center">
              <a class="btn text-black" data-bs-toggle="collapse" href="#collapse{{ forloop.counter }}">Viaje {{ viaje.viajeid }}</a>
            </div>
            <div id="collapse{{ forloop.counter }}" class="collapse bg-info-subtle text-white" data-bs-parent="#accordion">
              <div class="card-body text-black">
                <strong>Identificador de la ruta</strong>: {{ viaje.viajeid }}
              </div>
              <div class="card-body text-black">
                <strong>Vehículo</strong>: {{ viaje.vehiculoid }}
              </div>
              <div class="card-body text-black">
                <strong>Fecha y hora de salida</strong>: {{ viaje.fechahorasalida }}
              </div>
              <div class="card-body text-black">
                <strong>Fecha y hora de llegada</strong>: {{ viaje.fechahorallegadaestimada }}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% else %}
    <div class="container-sm p-5 my-5 text-white rounded text-center">
      <h2>No posee ningún viaje hecho hasta el momento.</h2>
      <p>Favor comunicarse con la administración para en cualquier caso, se le asigne un viaje.</p>
    </div>
  {% endif %}
{% endblock %}
