{% extends 'bases/baselogin.html' %}
{% block title %}
  OnRoad
{% endblock %}
{% block content %}

  <div class="container-sm p-5 my-5 bg-info-subtle text-black rounded">
    <form method="POST">
      {% csrf_token %}
      <h2>Inicio de sesión</h2>
      <div class="mb-3 mt-3">
        <label for="usuario" class="form-label">Usuario/Correo Electrónico:</label>
        {{ form.usuario }}
      </div>
      <div class="mb-3">
        <label for="contraseña" class="form-label">Contraseña:</label>
        {{ form.contraseña }}
      </div>
      <button type="submit" class="btn btn-primary">Inicio</button>
    </form>
    <nav class="navbar navbar-expand-sm  justify-content-center py-3">
      <ul class="navbar-nav d-flex w-100">
        <li class="nav-item flex-fill text-center">
          <a class="nav-link d-block text-danger" href="mailto:correo@example.com?subject=Yo [Nombre Completo], deseo ser un conductor OnRoad!&body=Saludos cordiales,
          Después de ese cálido saludo me dirijo a ustedes con la ganas de formar parte de su plataforma como un conductor.      
          Para esto, dispondré de la siguiente información:
  
          - Nombre: [Introduzca aqui]
          - Apellido: [Introduzca aqui]
          - No. de Licencia de Conducir: [Introduzca aqui]
          - Teléfono: [Introduzca aqui]
          - Dirección: [Introduzca aqui]
      
          [Cualquier otro papel importante, favor especificarlo y adjuntarlo]
      
          Gracias de antemano por considerar mi propuesta.">Sí quieres formar parte de la familia de OnRoad como un Conductor, favor contáctanos! (Click aquí)</a>
        </li>
      </ul>
    </nav>
  </div>

  {% if messages %}
  {% for message in messages %}
    {% if message.tags == 'error' %}
      <script>
        Swal.fire('Error', '{{ message }}', 'error');
      </script>
    {% elif message.tags == 'warning' %}
      <script>
        Swal.fire('Sesión expirada', '{{ message }}', 'warning');
      </script>
    {% endif %}
  {% endfor %}
{% endif %}
{% endblock %}
